<% if user_signed_in? -%>
  <ul class="actions">
    <li><%= link_to comment_link_text(post.comment_threads.length), post_path(post, anchor: 'comments') %></li>
    <li><%= link_to 'edit', edit_post_path(post) %></li>
    <li>
      <%= link_to 'delete', post_path(post), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>
    </li>
    <li>
      <% if current_user.elevennote_api_key.present? %>
        <%= link_to 'save', save_post_path(post), method: :post %>
      <% else %>
        <%= link_to 'add your elevennote api key to save', edit_user_registration_path(current_user) %>
      <% end %>
    </li>
  </ul>
<% end -%>
