<article class="post">
  <%= render 'slug', post: @post %>
  <% if @post.text? -%>
    <section class="body"><%= @post.body %></section>
  <% end -%>
  <%= render 'actions', post: @post %>

  <%= render 'comments/form', comment: @comment %>

  <ol id="comments">
    <% @post.comment_threads.each do |comment| %>
      <li>
        <section class="comment-body">
          <%= comment.body %>
        </section>
      </li>
    <% end %>
  </ol>
</article>
